<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% if 'username' in session %}
    <header>
        <a href="{{ url_for('index') }}" class="btn" class="header">Accueil</a>
        <span class="username" class="header">{{ session['username'] }}</span>
        <a href="/logout" class="btn" class="header">Déconnexion</a>
        
    </header>
    <h1>Bienvenue sur Wardlexis !</h1>
    <div class="container">
        <p>Wardlexis est un jeu de mots où vous devez deviner un mot de 5 lettres en 5 tentatives.</p>
        <p>Chaque lettre correcte est en bleu, chaque lettre correcte mais mal placée est en vert, et chaque lettre incorrecte est en jaune.</p>
        <p>Vous pouvez jouer autant de fois que vous le souhaitez, mais seules vos 5 meilleures tentatives seront prises en compte.</p>
    
    <div class="menu">
        <a href="/play_wordle" class="btn">Jouer à Wardlexis</a>
        <a href="/view_results" class="btn">Voir les résultats</a>
        {% if session['username'] == 'admin' %}
        <a href="/admin_results" class="btn">Modifier les scores</a>
        <a href="/gestion_users" class="btn">Gestion des utilisateurs</a>
        {% endif %}
    </div>
</div>

    {% else %}
        <meta http-equiv="refresh" content="0; URL='/'" />
    {% endif %}
</body>
</html>
