<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% if 'username' in session %}
        <p>Bonjour, {{ session['username'] }} !</p>
    <h1>Bienvenue sur Wordle !</h1>
    <ul>
        <li><a href="/play_wordle" class="btn">Jouer à Wordle</a></li>
        <li><a href="/view_results" class="btn">Voir les résultats</a></li>
        {% if session['username'] == 'admin' %}
        <li><a href="/admin_results" class="btn">Modifier les scores</a></li>
        <li><a href="/gestion_users" class="btn">Gestion des utilisateurs</a></li>
        {% endif %}
    </ul>

    <p><a href="/logout" class="btn">Se déconnecter</a></p>
    {% else %}
        <p>Veuillez vous <a href="/login" class="btn">connecter</a>.</p>
    {% endif %}
</body>
</html>
